body {background-color:#7a7a7a}


.bsimages {color:#0b76cc}
p {
    color:#8a8a8a;
    font-size:70px;
    font-family: "Jost", sans-serif;
}

.buttin

    html {
  cursor: pointer;
  cursor: help;
  cursor: progress;
        
